<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="~/Modules/Login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <identity impersonate="true"/>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="aspdrop" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
   
  </system.web>
  <appSettings>
    <add key="LDAPPath" value="LDAP://172.16.11.1:389"/>
    <add key="LDAPDomain" value="Cipla.com"/>
    <add key="Environment" value="Testing"/>
    <add key="MyVersion" value="Version 1.0, Build Id : 300514."/>
    <add key="Login" value="~/Modules/Login.aspx"/>
    <add key="LogFile" value="~/App_Data/Log/"/>
    <add key="PostBackURL" value="~/Modules/frmMain.aspx"/>
    <add key="Data" value="~/Files/"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="User" value="abc@gmail.com"/>
    <add key="Pass" value="123456"/>
    <add key="FromID" value="abc@gmail.com"/>
    <add key="MailTempletes" value="~/Messages/"/>
    <add key="TertiaryValue" value="2"/>
    <add key="MyURL" value="www.google.co.in"/>
    <add key="SMTP_Enabled" value="True"/>
    <add key="Interval" value="10"/>
    <add key="Expiry_Interval_Minutes" value="9"/>
    <add key="siteheader" value="Website"/>
    <add key="ReportPath" value="~/App_Data/Report/"/>
    <add key="ReportOutPath" value="~/App_Data/OutReport/"/>
    <add key="Report" value="~/Reports/"/>
    <add key="Recipe_Service.Service" value="http://172.16.10.240/RecipeM/Service.asmx"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="Website" value="MTSWebNew"/>
    <add key="ADLOGIN" value="ON"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="strLocal" connectionString="SERVER=SW0047\SQL14;DATABASE=DB_ACME_Barcode_Dev;USER ID=sa;PASSWORD=bcil@123"/>
    <add name="strErp" connectionString="SERVER=SW0047\SQL14;DATABASE=ACME-TEST-20122018;USER ID=sa;PASSWORD=bcil@123"/>
    <!--<add name="strLocal" connectionString="SERVER=192.168.125.4;DATABASE=DB_ACME_Barcode;USER ID=sa;PASSWORD=barcode@123"/>
    <add name="strErp" connectionString="SERVER=192.168.125.10;DATABASE=ACME-LIVE;USER ID=sa;PASSWORD=Admin@123"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>