<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="LDAPPath" value="LDAP://172.16.11.1:389"/>
    <add key="LDAPDomain" value="Cipla.com"/>
    <add key="Environment" value="Testing"/>
    <add key="MyVersion" value="Version 1.0, Build Id : 300514."/>
    <add key="Login" value="~/Device/frmDevice_Login.aspx"/>
    <add key="LogFile" value="~/App_Data/Log/"/>
    <add key="PostBackURL" value="~/Modules/frmMain.aspx"/>
    <add key="Data" value="~/Files/"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="User" value="abc@gmail.com"/>
    <add key="Pass" value="123456"/>
    <add key="FromID" value="abc@gmail.com"/>
    <add key="MailTempletes" value="~/Messages/"/>
    <add key="TertiaryValue" value="2"/>
    <add key="MyURL" value="www.google.co.in"/>
    <add key="SMTP_Enabled" value="True"/>
    <add key="Interval" value="10"/>
    <add key="Expiry_Interval_Minutes" value="9"/>
    <add key="siteheader " value="Website"/>
    <add key="Goods_Issue_PO.Service" value="http://localhost:2792/GISSUE_AGAINSTPO/Service.asmx"/>
    <add key="Goods_Reciept_Po.Service" value="http://localhost:20809/GOODSREC_AGAINSTPO/Service.asmx"/>
    <add key="Confirmation_ProcessOrder.Service" value="http://localhost:20532/CONF_PROCESSORDER/Service.asmx"/>
    <add key="Confirmation_Lot.Service" value="http://localhost:20689/CONF_INSPECTIONLOT/Service.asmx"/>
    <add key="SamplingStatusPosting.Service" value="http://localhost:8453/WS_SAMPLESTATUS/Service.asmx"/>
    <add key="Sample_Posting.Service" value="http://172.16.10.243/PP_SAMPLE_POSTING/Service.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <!--<add name="strLocal" connectionString="SERVER=DESKTOP-V2GVEK5\NSGMSSQLSERVER;DATABASE=CIPLA_CS_DBCIPLAMASTER_11052018;USER ID=sa;PASSWORD=barcode"/>-->
    <!--Server--> 
    <add name="strLocal" connectionString="SERVER=SW0047\SQL14;DATABASE=DB_ACME_Barcode_Dev;USER ID=sa;PASSWORD=bcil@123"/>
    <add name="strErp" connectionString="SERVER=SW0047\SQL14;DATABASE=ACME-TEST-20122018;USER ID=sa;PASSWORD=bcil@123"/>
    <!--Local-->
    <!--<add name="strLocal" connectionString="SERVER=192.168.125.4;DATABASE=DB_ACME_Barcode;USER ID=sa;PASSWORD=barcode@123"/>-->
    <!--<add name="strLocal" connectionString="SERVER=PRASHANT\SQLEXPRESS;DATABASE=DBCIPLAMASTER;USER ID=sa;PASSWORD=barcode@123"/>-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Device/frmDevice_Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>